body {
    padding-top: 0;
    margin: 0;
}

.navbar {
    margin-bottom: 0;
}

.carousel-item img {
    height: 65vh;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

    .carousel-caption .btn {
        margin-top: 1rem;
        background-color: #007bff;
        border: none;
        color: white;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease;
    }

        .carousel-caption .btn:hover {
            background-color: #0056b3;
        }

#about-us .icon-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

    #about-us .icon-box img {
        max-width: 100px;
        margin-bottom: 10px;
    }

#about-us h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

#about-us p {
    margin-bottom: 20px;
}

#about-us .list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    #about-us .list-unstyled li i {
        color: #007bff;
        margin-right: 10px;
    }

#about-us .btn {
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

    #about-us .btn:hover {
        background-color: #0056b3;
    }

#about-us .img-fluid {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
